@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-geral-consult-online {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
  gap: 80px;

  .box-titulo-consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-bottom: 3px solid #0d7757;

    h1 {
      font-size: 54.4px;
      color: #0d7757;
      font-family: "Shadows Into Light", cursive;
    }
  }
  .box-text-consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    p {
      font-size: 20.8px;
      color: #373533;
    }
  }
  .box-imagem-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

    .box-imagem-consulta {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      /* margin-top: -170px; */

      img {
        width: 100%;
      }
    }
    .box-text-all-consulta {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 450px;
      gap: 50px;

      .box-card-passos {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        flex-direction: column;
        width: 100%;

        .box-titulo-passo {
          width: 100%;
          background-color: #009266fb;
          border-radius: 50px;
          padding: 20px 30px;

          h3 {
            color: #fff;
            font-size: 20px;
            font-family: "Shadows Into Light", cursive;
          }
        }
        .box-text-passo {
          width: 100%;
          background-color: #00926641;
          border-radius: 20px;
          padding: 30px 30px;
        }
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #0d7757;
      padding: 10px 20px;
      text-decoration: none;
      color: #0d7757;
      margin-top: 20px;
      border-radius: 10px;
      outline: none;
    }
    a:hover {
      color: #fff;
      background-color: #0d7757;
      font-weight: bold;
    }
  }
}
